<h2>サンプル</h2>

<div class="content">
  <h3>キーワード検索順位推移</h3>
  <div id="myTotalRankLineDiv"></div>
  <h3>キーワード</h3>
  <div id="myTotalGroupDiv"></div>
  <table class="table table-hover">
    <tr>
      <th>順位</th>
      <th>商品名</th>
    </tr>
    <% @ranks.reverse.each do |rank| %>
      <td><%= rank["rank"] %></td>
      <td><%= rank["name"] %></td>
    <tr>
    </tr>
    <% end %>
  </table>
</div>

<div class="sidebar">
  <h3>検索順位集計値</h3>
  <div id="myMedianRankDiv"></div>
  <div id="myAvarageRankDiv"></div>
  <div id="myMinRankDiv"></div>
  <div id="myMaxRankDiv"></div>
  <h3>システム環境</h3>
  <ul>
    <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
    <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
    <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
    <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
  </ul>
  <a href="http://c7.github.com/hazel/"><img src="/images/hazel_small.png" alt="Hazel" /></a>
</div>
